<h1>Introducción</h1>

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='darkgrid')

In [5]:
df = pd.read_csv("AccidentesAviones.csv", index_col="index")

In [6]:
df.head()

,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
index,,,,,,,,,,,,,,,,,
0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...

¿Qué tamaño tiene el dataset?

In [9]:
print(f"El dataframe contiene {df.shape[0]} filas y {df.shape[1]} columnas.")

El dataframe contiene 5008 filas y 17 columnas.

¿Cuáles son las columnas del dataset?

In [13]:
print(f"El dataframe contiene las siguientes columnas: {', '.join(list(df.columns))}.")

El dataframe contiene las siguientes columnas: fecha, HORA declarada, Ruta, OperadOR, flight_no, route, ac_type, registration, cn_ln, all_aboard, PASAJEROS A BORDO, crew_aboard, cantidad de fallecidos, passenger_fatalities, crew_fatalities, ground, summary.

Hay muchas columnas con sus nombres en inglés. Cambiemos eso:

In [16]:
# Cambiar los nombres de las columnas al español
df.columns = ['Fecha', 'Hora Declarada', 'Ruta', 'Operador', 'Número de Vuelo', 'Ruta de Vuelo', 'Tipo de Aeronave', 'Registro', 'CN LN', 'Total a Bordo', 'Pasajeros a Bordo', 'Tripulación a Bordo', 'Cantidad de Fallecidos', 'Fallecidos Pasajeros', 'Fallecidos Tripulación', 'En Tierra', 'Resumen']

¿Cúantos valores faltantes contiene el dataset?

In [18]:
df.isna().sum()

Fecha                     0
Hora Declarada            0
Ruta                      0
Operador                  0
Número de Vuelo           0
Ruta de Vuelo             1
Tipo de Aeronave          0
Registro                  0
CN LN                     0
Total a Bordo             0
Pasajeros a Bordo         0
Tripulación a Bordo       0
Cantidad de Fallecidos    0
Fallecidos Pasajeros      0
Fallecidos Tripulación    0
En Tierra                 0
Resumen                   0
dtype: int64

¿El dataframe no tiene valores faltantes? Verifiquemos de otra forma, primero veamos el dataframe.

In [19]:
df.head(2)

,Fecha,Hora Declarada,Ruta,Operador,Número de Vuelo,Ruta de Vuelo,Tipo de Aeronave,Registro,CN LN,Total a Bordo,Pasajeros a Bordo,Tripulación a Bordo,Cantidad de Fallecidos,Fallecidos Pasajeros,Fallecidos Tripulación,En Tierra,Resumen
index,,,,,,,,,,,,,,,,,
0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...

Como podemos observar, en lugar de NaN, el dataframe tiene "?" cuando no contiene la información de esa columna y el registro. Con esta nueva información, verifiquemos cuantos "?" tiene cada columna:

In [20]:
df.isin(["?"]).sum()

Fecha                        0
Hora Declarada            1504
Ruta                         5
Operador                    10
Número de Vuelo           3682
Ruta de Vuelo              762
Tipo de Aeronave            13
Registro                   272
CN LN                      667
Total a Bordo               17
Pasajeros a Bordo          221
Tripulación a Bordo        219
Cantidad de Fallecidos       8
Fallecidos Pasajeros       235
Fallecidos Tripulación     235
En Tierra                   44
Resumen                     59
dtype: int64

Ahora encontramos números mas coherentes, las columnas tienen valores faltantes pero en forma de una cadena <h style="color: #FFBB66">"?"</h>.

Existen algunas columnas, que parece que no son explicativas con sus nombres, investiguemos que significa:

<ul>
<li><strong>CN LN</strong>: Números de construcción y línea de la aeronave, que son identificadores adicionales.</li>
<li><strong>En Tierra</strong>: Representa el número de personas fallecidas en tierra como resultado del evento.</li>
</ul>

Como nuestro proyecto será completamente en español, debemos actulizar el archivo <em>csv</em> en nuestro repositorio.

In [21]:
df.to_csv("AccidentesAviones.csv", index= False)

En el siguiente notebook, se procederá a hacer la segmentación de la información para montarla en una base de datos relacional.